<a href="https://colab.research.google.com/github/hoyoungLee625/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 4강 - 데이터 수집

In [ ]:
import pandas as pd
import json

# 데이터 로드
with open(f'energy_use_data{year_month}.json', 'r', encoding='utf-8') as f:
    json_text = f.read()

json_data = json.loads(json_text)
data = json_data['energyUseDataSummaryInfo']['row']
df = pd.DataFrame(data)

# ========== 데이터프레임 기본 정보 ==========

# 1. 구조 정보 (가장 중요!)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEAR      5 non-null      object
 1   MON       5 non-null      object
 2   MM_TYPE   5 non-null      object
 3   CNT       5 non-null      object
 4   EUS       5 non-null      object
 5   EUS1      5 non-null      object
 6   EUS2      5 non-null      object
 7   ECO2_1    5 non-null      object
 8   ECO2_2    5 non-null      object
 9   GUS       5 non-null      object
 10  GUS1      5 non-null      object
 11  GUS2      5 non-null      object
 12  GCO2_1    5 non-null      object
 13  GCO2_2    5 non-null      object
 14  WUS       5 non-null      object
 15  WUS1      5 non-null      object
 16  WUS2      5 non-null      object
 17  WCO2_1    5 non-null      object
 18  WCO2_2    5 non-null      object
 19  HUS       5 non-null      object
 20  HUS1      5 non-null      object
 21  HUS2      5 non-null      object
 22  HCO2_1    5 non-null      object
 23  HCO2_2    5 non-null      object
 24  REG_DATE  5 non-null      object
dtypes: object(25)
memory usage: 1.1+ KB
None

In [ ]:
import pandas as pd
import json
import time
df_list = []



# 날짜 변환 및 year, season 컬럼 추가
df['REG_DATE'] = pd.to_datetime(df['REG_DATE'])
df['year'] = df['REG_DATE'].dt.year
df['season'] = df['REG_DATE'].dt.month.map({
    12: '겨울', 1: '겨울', 2: '겨울',
    3: '봄', 4: '봄', 5: '봄',
    6: '여름', 7: '여름', 8: '여름',
    9: '가을', 10: '가을', 11: '가을'
})

# 결과 확인
print("\n전처리 결과:")
print(df[['REG_DATE', 'year', 'season']].head(10))
print(f"\n연도별:\n{df['year'].value_counts().sort_index()}")
print(f"\n계절별:\n{df['season'].value_counts()}")

전처리 결과:
             REG_DATE  year season
0 2015-06-04 17:03:55  2015     여름
1 2015-06-04 17:03:55  2015     여름
2 2015-06-04 17:03:55  2015     여름
3 2015-06-04 17:03:55  2015     여름
4 2015-06-04 17:03:55  2015     여름
5 2015-06-04 17:03:55  2015     여름
6 2015-06-04 17:03:55  2015     여름
7 2015-06-04 17:03:55  2015     여름
8 2015-06-04 17:03:55  2015     여름
9 2015-06-04 17:03:55  2015     여름

연도별:
year
2015    600
Name: count, dtype: int64

계절별:
season
여름    600
Name: count, dtype: int64

In [ ]:
import pandas as pd
import json

df_list = []
for year in range(2015, 2024+1):
    for month in [f'{i:02d}' for i in range(1, 12+1)]:
        with open(f"energy_use_data{year} {month}.json", 'r', encoding='utf-8') as f:
            json_data = json.loads(f.read())
            df_list.append(pd.DataFrame(json_data['energyUseDataSummaryInfo']['row']))

df = pd.concat(df_list, ignore_index=True)

df['REG_DATE'] = pd.to_datetime(df['REG_DATE'])
df['year'] = df['REG_DATE'].dt.year
df['season'] = df['REG_DATE'].dt.month.map({
    12: '겨울', 1: '겨울', 2: '겨울',
    3: '봄', 4: '봄', 5: '봄',
    6: '여름', 7: '여름', 8: '여름',
    9: '가을', 10: '가을', 11: '가을'
})

print("전체의 결과:")
print(df[['REG_DATE', 'year', 'season']].head(20))
print(f"\n연 도별:\n{df['year'].value_counts().sort_index()}")
print(f"\n계절별:\n{df['season'].value_counts()}")

전체의 결과:
              REG_DATE  year season
0  2015-06-04 17:03:55  2015     여름
1  2015-06-04 17:03:55  2015     여름
2  2015-06-04 17:03:55  2015     여름
3  2015-06-04 17:03:55  2015     여름
4  2015-06-04 17:03:55  2015     여름
5  2015-06-04 17:03:55  2015     여름
6  2015-06-04 17:03:55  2015     여름
7  2015-06-04 17:03:55  2015     여름
8  2015-06-04 17:03:55  2015     여름
9  2015-06-04 17:03:55  2015     여름
10 2015-06-04 17:03:55  2015     여름
11 2015-06-04 17:03:55  2015     여름
12 2015-06-04 17:03:55  2015     여름
13 2015-06-04 17:03:55  2015     여름
14 2015-06-04 17:03:55  2015     여름
15 2015-06-04 17:03:55  2015     여름
16 2015-06-04 17:03:55  2015     여름
17 2015-06-04 17:03:55  2015     여름
18 2015-06-04 17:03:55  2015     여름
19 2015-06-04 17:03:55  2015     여름

연 도별:
year
2015    600
Name: count, dtype: int64

계절별:
season
여름    600
Name: count, dtype: int64

In [ ]:
import pandas as pd
import json

df list= []

# 2015년 1월부터 2024년 12월까지 반복
for year in range(2015, 2024+1):
    for month in range(1, 12+1):
        year_month = f'{year}{month:02d}'

        try:
            with open(f'energy_use_data{year_month}.json', 'r', encoding='utf-8') as f:
                json_text = f.read()

            json_data = json.loads(json_text)
            data = json_data['energyUseDataSummaryInfo']['row']
            df = pd.DataFrame(data)
            df.append(df)

            print(f'{year_month} 데이터 로드 성공')
        except FileNotFoundError:
            print(f'{year_month} 파일 없음')

# 모든 DataFrame 합치기
df= pd.concat(df, ignore_index=True)
print(f'\n전체 데이터 크기: {len(df)}행')
print(df.head)

201501 파일 없음
201502 파일 없음
201503 파일 없음
201504 파일 없음
201505 파일 없음
201506 파일 없음
201507 파일 없음
201508 파일 없음
201509 파일 없음
201510 파일 없음
201511 파일 없음
201512 파일 없음
201601 파일 없음
201602 파일 없음
201603 파일 없음
201604 파일 없음
201605 파일 없음
201606 파일 없음
201607 파일 없음
201608 파일 없음
201609 파일 없음
201610 파일 없음
201611 파일 없음
201612 파일 없음
201701 파일 없음
201702 파일 없음
201703 파일 없음
201704 파일 없음
201705 파일 없음
201706 파일 없음
201707 파일 없음
201708 파일 없음
201709 파일 없음
201710 파일 없음
201711 파일 없음
201712 파일 없음
201801 파일 없음
201802 파일 없음
201803 파일 없음
201804 파일 없음
201805 파일 없음
201806 파일 없음
201807 파일 없음
201808 파일 없음
201809 파일 없음
201810 파일 없음
201811 파일 없음
201812 파일 없음
201901 파일 없음
201902 파일 없음
201903 파일 없음
201904 파일 없음
201905 파일 없음
201906 파일 없음
201907 파일 없음
201908 파일 없음
201909 파일 없음
201910 파일 없음
201911 파일 없음
201912 파일 없음
202001 파일 없음
202002 파일 없음
202003 파일 없음
202004 파일 없음
202005 파일 없음
202006 파일 없음
202007 파일 없음
202008 파일 없음
202009 파일 없음
202010 파일 없음
202011 파일 없음
202012 파일 없음
202101 파일 없음
202102 파일 없음
202103 파일 없음
202104 파일 없음
202105 파일 없음
202106 파일 없음
202107 파일 없음
202108 파일 없음
202109 파일 없음
202110 파일 없음
202111 파일 없음
202112 파일 없음
202201 파일 없음
202202 파일 없음
202203 파일 없음
202204 파일 없음
202205 파일 없음
202206 파일 없음
202207 파일 없음
202208 파일 없음
202209 파일 없음
202210 파일 없음
202211 파일 없음
202212 파일 없음
202301 파일 없음
202302 파일 없음
202303 파일 없음
202304 파일 없음
202305 파일 없음
202306 파일 없음
202307 파일 없음
202308 파일 없음
202309 파일 없음
202310 파일 없음
202311 파일 없음
202312 파일 없음
202401 파일 없음
202402 파일 없음
202403 파일 없음
202404 파일 없음
202405 파일 없음
202406 파일 없음
202407 파일 없음
202408 파일 없음
202409 파일 없음
202410 파일 없음
202411 파일 없음
202412 파일 없음

ValueError: No objects to concatenate

In [2]:
import requests

url ='http://openapi.seoul.go.kr:8088/71774e424469746f39324e506c6e71/json/energyUseDataSummaryInfo/1/5/2015/01/'
params = {
	'KEY': '71774e424469746f39324e506c6e71',
	'SERVICE': 'energyUseDataSummaryInfo',
	'TYPE': 'json',
	'START_INDEX': 1,
	'END_INDEX': 5,
	'year': 'year',
	'mon': 'month'
}

response = requests.get(url, params=params)

if response.status_code == 200:
    print('API 호출 성공')
    print(response.json())
else:
    print(f'API 호출 실패: {response.status_code}')

API 호출 성공
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '01', 'MM_TYPE': '개인', 'CNT': '767791', 'EUS': '193784708', 'EUS1': '194781915', 'EUS2': '204969429', 'ECO2_1': '-6090964', 'ECO2_2': '-2582568.736', 'GUS': '59133720', 'GUS1': '57163993', 'GUS2': '68297619', 'GCO2_1': '-3597086', 'GCO2_2': '-8057472.64', 'WUS': '12819757.886', 'WUS1': '12723680.426', 'WUS2': '12899476.73', 'WCO2_1': '8179.308', 'WCO2_2': '2715.530256', 'HUS': '22740838.937', 'HUS1': '23400055.303', 'HUS2': '27090493.875', 'HCO2_1': '-2504435.652', 'HCO2_2': '-33660084.213069', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '학교', 'CNT': '1382', 'EUS': '134955565', 'EUS1': '128707423', 'EUS2': '145561511', 'ECO2_1': '-2178902', 'ECO2_2': '-923854.448', 'GUS': '9107197', 'GUS1': '8410968', 'GUS2': '10745416', 'GCO2_1': '-470995', 'GCO2_2': '-1055028.8', 'WUS': '2075819.2', 'WUS1': '2097433.8', 'WUS2': '2133200.8', 'WCO2_1': '-39498.1', 'WCO2_2': '-13113.3692', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '종교단체', 'CNT': '32', 'EUS': '372270', 'EUS1': '363376', 'EUS2': '411363', 'ECO2_1': '-15099.5', 'ECO2_2': '-6402.188', 'GUS': '53331', 'GUS1': '45727', 'GUS2': '63312', 'GCO2_1': '-1188.5', 'GCO2_2': '-2662.24', 'WUS': '5945', 'WUS1': '4548', 'WUS2': '4519', 'WCO2_1': '1411.5', 'WCO2_2': '468.618', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '소상공인', 'CNT': '2058', 'EUS': '10249618', 'EUS1': '9927610', 'EUS2': '11039593', 'ECO2_1': '-233983.5', 'ECO2_2': '-99209.004', 'GUS': '536119', 'GUS1': '523810', 'GUS2': '642921', 'GCO2_1': '-47246.5', 'GCO2_2': '-105832.16', 'WUS': '147273', 'WUS1': '146480.6', 'WUS2': '147325.6', 'WCO2_1': '369.9', 'WCO2_2': '122.8068', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '공동주택관리소', 'CNT': '1747', 'EUS': '327102096', 'EUS1': '329852334', 'EUS2': '351694752', 'ECO2_1': '-13671447', 'ECO2_2': '-5796693.528', 'GUS': '22834274', 'GUS1': '21141017', 'GUS2': '25338506', 'GCO2_1': '-405487.5', 'GCO2_2': '-908292', 'WUS': '12844807.5', 'WUS1': '12763070', 'WUS2': '12979835.8', 'WCO2_1': '-26645.4', 'WCO2_2': '-8846.2728', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}]}}

In [24]:
import requests
import time
import json
import pandas as pd

url='http://openapi.seoul.go.kr:8088/71774e424469746f39324e506c6e71/json/energyUseDataSummaryInfo/1/5/year/month'

def get_year_months():
    year_months = []
    for year in range(2015, 2024):
        for month in range(1, 12):
            year_months.append(f'{year}{month:02d}')
    return year_months

response = requests.get(url)

for year_month in get_year_months():

    with open(f'energy_use_data{year_month}.json', 'w', encoding='utf-8') as f:
        f.write(response.text)

data= json.data()#['energyUseDataSummaryInfo']['row']
df = pd.DataFrame(data)
print(df.head)

AttributeError: module 'json' has no attribute 'data'

## 4-1 CSV 파일 읽기

In [ ]:
import pandas as pd

## data.csv 파일 읽기

print(df)

In [ ]:
import pandas as pd
import json
import requests

with open(f'energy_use_data{year_month}.json', 'r', encoding='utf-8') as f:
    json_data = json.load(f)
data = json_data['response'] ['body'] ['items']
df = pd.DataFrame(data)
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'energy_use_data202412.json'

In [16]:
import pandas as pd
import json

with open(f'energy_use_data{year_month}.json','r', encoding ='utf-8') as f:
    json_text=f.read()

json_data= json.loads (json_text)

data = json_data['energyUseDataSummaryInfo']['row']

df =pd.DataFrame(data)
print(df.head())

   YEAR MON  MM_TYPE      CNT        EUS       EUS1       EUS2      ECO2_1  \
0  2025  06       개인  1269454  278745288  275851011  273151435     4244065
1  2025  06       학교     6745  117808793  114793127  114623246   3100606.5
2  2025  06  공동주택관리소     3729  498863841  496003195  488758810   6482838.5
3  2025  06     종교단체      849    6205342    6171454    6094109     72560.5
4  2025  06     소상공인    53274   96254029   98122772   98464917  -2039815.5

        ECO2_2       GUS  ...        WUS1        WUS2     WCO2_1       WCO2_2  \
0  2076623.656  13084768  ...  15166284.8  15371662.2  -341289.9  -611822.446
1  3096973.668   2093441  ...   1914804.2   1956560.2    -111344  -333633.134
2    6482838.5   2853437  ...  20616193.4  20794568.4  -297568.2    -892704.6
3      72560.5    139336  ...       51779       49094     1791.5       5374.5
4  -2043866.22   1638563  ...   1541313.8   1576869.2   -32353.7   -97437.288

         HUS        HUS1        HUS2    HCO2_1           HCO2_2  \
0  379182.22  368839.049  389847.167  -160.888  -22448.67848156
1       8.03        8.03        8.03         0                0
2          0           0           0         0                0
3          0           0           0         0                0
4          2           2           2         0                0

                REG_DATE
0  2025-09-01 04:02:15.0
1  2025-09-01 04:02:15.0
2  2025-09-01 04:02:15.0
3  2025-09-01 04:02:15.0
4  2025-09-01 04:02:15.0

[5 rows x 25 columns]

In [18]:
import pandas as pd
import json

df_list = []  # 각 DataFrame을 저장할 리스트

# 2015년 1월부터 2024년 12월까지 반복
for year in range(2015, 2024+1):
    for month in range(1, 12+1):
        year_month = f'{year}{month:02d}'

        try:
            with open(f'energy_use_data{year_month}.json', 'r', encoding='utf-8') as f:
                json_text = f.read()

            json_data = json.loads(json_text)
            data = json_data['energyUseDataSummaryInfo']['row']
            df = pd.DataFrame(data)
            df_list.append(df)

            print(f'{year_month} 데이터 로드 성공')
        except FileNotFoundError:
            print(f'{year_month} 파일 없음')

201501 데이터 로드 성공
201502 데이터 로드 성공
201503 데이터 로드 성공
201504 데이터 로드 성공
201505 데이터 로드 성공
201506 데이터 로드 성공
201507 데이터 로드 성공
201508 데이터 로드 성공
201509 데이터 로드 성공
201510 데이터 로드 성공
201511 데이터 로드 성공
201512 데이터 로드 성공
201601 데이터 로드 성공
201602 데이터 로드 성공
201603 데이터 로드 성공
201604 데이터 로드 성공
201605 데이터 로드 성공
201606 데이터 로드 성공
201607 데이터 로드 성공
201608 데이터 로드 성공
201609 데이터 로드 성공
201610 데이터 로드 성공
201611 데이터 로드 성공
201612 데이터 로드 성공
201701 데이터 로드 성공
201702 데이터 로드 성공
201703 데이터 로드 성공
201704 데이터 로드 성공
201705 데이터 로드 성공
201706 데이터 로드 성공
201707 데이터 로드 성공
201708 데이터 로드 성공
201709 데이터 로드 성공
201710 데이터 로드 성공
201711 데이터 로드 성공
201712 데이터 로드 성공
201801 데이터 로드 성공
201802 데이터 로드 성공
201803 데이터 로드 성공
201804 데이터 로드 성공
201805 데이터 로드 성공
201806 데이터 로드 성공
201807 데이터 로드 성공
201808 데이터 로드 성공
201809 데이터 로드 성공
201810 데이터 로드 성공
201811 데이터 로드 성공
201812 데이터 로드 성공
201901 데이터 로드 성공
201902 데이터 로드 성공
201903 데이터 로드 성공
201904 데이터 로드 성공
201905 데이터 로드 성공
201906 데이터 로드 성공
201907 데이터 로드 성공
201908 데이터 로드 성공
201909 데이터 로드 성공
201910 데이터 로드 성공
201911 데이터 로드 성공
201912 데이터 로드 성공
202001 데이터 로드 성공
202002 데이터 로드 성공
202003 데이터 로드 성공
202004 데이터 로드 성공
202005 데이터 로드 성공
202006 데이터 로드 성공
202007 데이터 로드 성공
202008 데이터 로드 성공
202009 데이터 로드 성공
202010 데이터 로드 성공
202011 데이터 로드 성공
202012 데이터 로드 성공
202101 데이터 로드 성공
202102 데이터 로드 성공
202103 데이터 로드 성공
202104 데이터 로드 성공
202105 데이터 로드 성공
202106 데이터 로드 성공
202107 데이터 로드 성공
202108 데이터 로드 성공
202109 데이터 로드 성공
202110 데이터 로드 성공
202111 데이터 로드 성공
202112 데이터 로드 성공
202201 데이터 로드 성공
202202 데이터 로드 성공
202203 데이터 로드 성공
202204 데이터 로드 성공
202205 데이터 로드 성공
202206 데이터 로드 성공
202207 데이터 로드 성공
202208 데이터 로드 성공
202209 데이터 로드 성공
202210 데이터 로드 성공
202211 데이터 로드 성공
202212 데이터 로드 성공
202301 데이터 로드 성공
202302 데이터 로드 성공
202303 데이터 로드 성공
202304 데이터 로드 성공
202305 데이터 로드 성공
202306 데이터 로드 성공
202307 데이터 로드 성공
202308 데이터 로드 성공
202309 데이터 로드 성공
202310 데이터 로드 성공
202311 데이터 로드 성공
202312 데이터 로드 성공
202401 데이터 로드 성공
202402 데이터 로드 성공
202403 데이터 로드 성공
202404 데이터 로드 성공
202405 데이터 로드 성공
202406 데이터 로드 성공
202407 데이터 로드 성공
202408 데이터 로드 성공
202409 데이터 로드 성공
202410 데이터 로드 성공
202411 데이터 로드 성공
202412 데이터 로드 성공

## 4-2 JSON 파일 읽기

In [ ]:
import json
import pandas as pd

## data.json 파일 출력

## data.json 파일 DataFrame 읽기

print(df)

## 4-3 텍스트 파일 읽기 및 데이터 추출

In [ ]:
import re

## 파일(callcenter20250301.log) 오픈 및 읽기
with open('callcenter20250301.log', 'r', encoding='utf-8') as f:
    content = f.read()
## 주민등록번호 패턴 생성

## 주민등록번호 마스킹


## 마스킹된 파일(callcenter20250301_masked.log) 오픈 및 쓰기


print("주민등록번호 마스킹 완료. 'callcenter20250301_masked.log.txt' 파일로 저장되었습니다.")

## 4-4 Open-Meteo의 무료 날씨 API를 통한 특정 지역 온도 조회

In [ ]:
import requests
import json

url = "https://api.open-meteo.com/v1/forecast?=&=&current=temperature_2m"
params = {
    "latitude": "37.58638333",
    "longitude": "127.0203333",
    "current": "temperature_2m"
}

try:
    ## URL 및 파라미터 전송

    ## JSON 데이터 읽기

    print("API 응답:", data)
    print("서울시 종로구의 현재 온도는 : {0}{1} 입니다.".format(data['current']['temperature_2m'], data['current_units']['temperature_2m']))

except requests.exceptions.RequestException as e:
    print(f"API 호출 실패: {e}")
except json.JSONDecodeError as e:
    print(f"JSON 파싱 실패: {e}")

## 4-5 Selenium과 lxml을 이용한 웹 스크래핑

In [ ]:
!curl -o google-chrome-stable_current_amd64.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
!apt install ./google-chrome-stable_current_amd64.deb -y
!pip install selenium webdriver_manager

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from lxml import html
import time

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')               # 브라우저 창 없이 실행
chrome_options.add_argument('--no-sandbox')             # 보안모드 비활성화 (Colab 필수)
chrome_options.add_argument('--disable-dev-shm-usage')  # 메모리 부족 방지 (Colab 필수)
chrome_options.add_argument('--window-size=1920x1080')  # 창 크기 설정(가상)
chrome_options.add_argument('--disable-gpu')            # GPU 가속 비활성화 (일부 환경 안정성)
chrome_options.binary_location = "/usr/bin/google-chrome-stable"  # Colab용 크롬 경로 지정

## 드라이버 실행
driver = webdriver.Chrome(options=chrome_options)

## 사이트 접속


## 사이트 접속 대기


## 페이지 제목 출력


## 드라이버 종료
driver.quit()


# 실습 시나리오

## 공공데이터 포털 가입 및 데이터 신청

- [https://www.data.go.kr](https://www.data.go.kr)
- 한국환경공단 에어코리아 대기오염정보 데이터 신청

In [ ]:
import requests

## 데이터 수집 url 및 api key 설정


params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집

## 호출 성공/실패 출력